html, body {
  width: 500px;
  background-color: rgba(40,44,52,255);
}

.panel {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.panel-section {
  display: flex;
  flex-direction: column;
}

.text-section-header {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

